* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Space Mono", monospace;
}

.btn1 {
  width: 18rem;
  height: 5rem;
  background-color: rgba(252, 183, 43, 1);
  border: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
  border-radius: 1.2rem;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.navbar-menu ul {
  display: flex;
  align-items: center;
}
.navbar-menu a {
  color: rgba(147, 156, 170, 1);
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration: none;
}
.navbar-menu li {
  list-style-type: none;
  margin: 3rem;
}
.first-section {
  width: 100%;
  background-image: url(./Bitmap.jpg);
  background-repeat: round;
  height: 65rem;
  display: flex;
}
.first-section div {
  width: 110rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15.5rem;
}
.first-section h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.6rem;
  color: rgba(255, 255, 255, 1);
}
.first-section p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 1);
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.locations {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16rem;
  width: 110rem;
  display: flex;
  flex-shrink: initial;
}
.locations img {
  margin-right: 28rem;
}
.locations-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.locations-text div {
  width: 35rem;
  margin-right: 3rem;
  margin-top: 4rem;
}
.locations-text h4 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: rgba(73, 85, 103, 1);
}
.locations-text p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(147, 156, 170, 1);
  height: 10rem;
  margin-top: 2.7rem;
}
.third-section {
  margin-top: 5rem;
  border-top: 2px solid rgba(147, 156, 170, 1);
  display: flex;
  width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.third-section div {
  width: 48rem;

  margin-top: 15.5rem;
}
.third-section h3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: rgba(73, 85, 103, 1);
}
.third-section p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(147, 156, 170, 1);
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.third-section img {
  margin-top: 10rem;
  margin-left: 15rem;
}
.fourth-section {
  display: flex;
  width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.fourth-section div {
  margin-top: 10rem;
  margin-left: 15rem;
  width: 48rem;
}
.fourth-section h3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: rgba(73, 85, 103, 1);
}
.fourth-section p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(147, 156, 170, 1);
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.section5 div {
  width: 48rem;
  margin-top: 15.5rem;
}
.section5 img {
  margin-top: 10rem;
  margin-left: 15rem;
  border-radius: 50%;
}
.section5 {
  display: flex;
  width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.section5 h3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: rgba(73, 85, 103, 1);
}
.section5 p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(147, 156, 170, 1);
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.section6 {
  background-color: rgba(73, 85, 103, 1);
  height: 30rem;
  width: 100%;
  margin-top: 20rem;
  display: flex;
}
.section6-div {
  width: 110rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.section6-div div {
  display: flex;
}
.section6-div img {
  margin-right: 1.8rem;
}
.section6 h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.6rem;
  color: rgba(255, 255, 255, 1);
}
footer {
  background-color: rgba(51, 58, 68, 1);
}
.scoot {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(5deg)
    brightness(109%) contrast(101%);
}
footer div a {
  margin-right: 2.5rem;
}
.btn1:hover {
  transform: scale(1.07);
  transition: 1s;
  cursor: pointer;
  background-color: rgb(75, 67, 67);
}
.navbar-menu a:hover {
  color: rgb(255, 255, 255);
  transition: 1.5s;
}
header:hover {
  background-color: #000000;
  color: #f6f6f6;
  -moz-box-shadow: 0px 2px 9px #888;
  -webkit-box-shadow: 0px 2px 9px #888;
  box-shadow: 0px 2px 9px #888;
  max-height: 420px;
  -webkit-transition: all 3.2s ease;
  -moz-transition: all 3.2s ease;
  -o-transition: all 3.2s ease;
  -ms-transition: all 3.2s ease;
  transition: all 3.2s ease;
  -webkit-filter: grayscale(0.5) blur(0px);
}
footer div a:hover {
  filter: invert(100%) sepia(50%) saturate(2%) hue-rotate(155deg)
    brightness(112%) contrast(101%);
}
.second-section {
  margin-left: auto;
  margin-right: auto;
}
.div2 {
  display: grid;
}
@media screen and (max-width: 425px) {
  .first-section {
    background-repeat: round;
  }
  .navbar-menu {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navbar-menu li {
    margin: 1rem;
  }
  
  .first-section div {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5rem;
  }
  .first-section p {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .second-section {
    width: 42.5rem;
    display: flex;
    align-items: center;
  }
  .third-section {
    max-width: 42.5rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .third-section img {
    width: 31rem;
    height: 31rem;
    margin-left: 0;
  }
  .third-section div {
    width: 31rem;
    margin-top: 3.5rem;
  }
  .fourth-section {
    max-width: 42.5rem;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .fourth-section img {
    width: 31rem;
    height: 31rem;
  }
  .fourth-section div {
    width: 31rem;
    margin-top: 3.5rem;
    margin-left: 0;
  }
  .section5 {
    max-width: 42.5rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .section5 div {
    width: 31rem;
    margin-left: 0;
    margin-top: 3rem;
  }
  .section5 img {
    width: 31rem;
    height: 31rem;
    margin-left: 0;
    margin-top: 3rem;
  }
  .section6 {
    margin-top: 8rem;
  }
  .section6-div {
    flex-direction: column;
    justify-content: center;
  }
  .section6-div div {
    margin-top: 1rem;
  }
  .section6 h1 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  .locations-text {
    grid-template-columns: repeat(1, 1fr);
    max-width: 31.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .locations-text div {
    width: 31rem;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  footer .navbar-menu {
    flex-direction: column;
  }
  footer .navbar-menu ul {
    flex-direction: column;
  }
  html {
    font-size: 8px;
  }
}
